# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
CloudOps/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Local data
data/faiss/
data/vectorstore/

uploads/
*.sqlite
*.db
.env.*
!.env.example

# VS Code
.vscode/
